.cartEmptyContainer{
    max-width: 1200px;
    margin:50px auto;
    text-align: center;
    padding:0px 20px;
    font-size: .8rem;
}

.cartEmptyContainer>button{
    margin-top: 20px;
    align-self: center;
    padding:10px 20px;
    letter-spacing: 1px;
    background-color:rgb(214, 107, 19);
    border:1px solid rgb(214, 107, 19);
    color:rgb(245, 245, 245);
    border-radius: 5px;
    box-shadow: 0px 1px 2px 1px rgb(167, 167, 167);
}

.productsContainer{
    display: flex;
    flex-direction: column;
    padding:0px 20px;
    margin:50px auto;
    color:rgb(90, 95, 95);
    max-width: 1200px;
}
.removeProduct{
    width: 100%;
    background-color: rgb(179, 6, 6);
    border:1px solid rgb(179, 6, 6);
    color:white;
    padding:10px;
    border-radius: 5px;
    letter-spacing: 1px;
}

.buttonsActionsContainer{
    display: flex;
    flex-direction: column;
    padding:25px 0px 0px 0px;
    border-top:1px solid rgb(214, 107, 19);
    width: 100%;
    margin:0 auto;
}

.buttonsActionsContainer>button{
    padding:15px 20px;
    color:white;
    border-radius: 5px;
    letter-spacing: 1px;
}
.buttonsActionsContainer>button:first-child{
    background-color: rgb(214, 107, 19);
    border:1px solid rgb(214, 107, 19);
}
.buttonsActionsContainer>button:last-child{
    background-color: rgb(61, 41, 25);
    border:1px solid rgb(61, 41, 25);
    margin-top:10px;
}

.productsContainerTable{
    color:rgb(90, 95, 95);
    width: 100%;
}
.tr>th{
    border-bottom:1px solid rgb(214, 107, 19);
    padding-bottom: 25px;
    font-weight: 400;
    color:rgb(55, 64, 65);
}
.name,
.priceLow,
.subtotalLow{
    margin:5px 0px;
}
.name{
    color:black;
    font-weight: 500;
}
.trProduct{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.tr,
.productSubtotal,
.deleteProduct{
    display: none;
}
.itemContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.colorContainerTable{
    display: flex;
    align-items: center;
}
.colorTable{
    margin-left: 5px;
    width: 15px;
    height: 15px;
    border-radius: 5px;
}
.quantityContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.quantityContainerTable{
    display: flex;
    align-items: center;
}
.quantityContainerTable>button{
    background-color: inherit;
    border:none;
    display: flex;
    align-items: center;
}
.quantityContainerTable>p{
    margin:0px 5px;
    color:black;
    font-weight: 700;
}
.quantityLow,
.subtotalLow,
.priceLow{
    display: flex;

}
.quantityLow>p:first-child,
.subtotalLow>p:first-child,
.priceLow>p:first-child{
    margin-right: 5px;
}
.priceLow>p:last-child{
    color:rgb(214, 107, 19);
}

.imageTable{
    position: relative;
    width: 100%;
    height: 200px;
    margin-right: 10px;
    overflow: hidden;
    border-radius: 5px;

}
.priceTable{
    color:rgb(214, 107, 19);
    text-align: center;
    display: none;
}

.totalContainer{
    width: 100%;
    margin:50px auto 0px auto;
}
.tableTotal{
    border-radius: 5px;
    width: 100%;
    border:1px solid rgb(155, 175, 177);
    display: table;
    border-spacing: 0px 20px;
    padding:0px 20px;
}
.trOrderTotal>td{
    padding:30px 0px 10px 0px;
    border-top:1px solid rgb(155, 175, 177);
    font-weight: 700;
    color:black;
}
.trSubtotal{
    font-weight: 700;
    color:black;
}
.toCheckout{
    width: 100%;
    margin-top:10px;
    padding:10px 15px;
    color:rgb(247, 245, 233);
    background-color: rgb(145, 96, 62);
    border:1px solid rgb(145, 96, 62);
    border-radius: 5px;
    letter-spacing: 1px;
    font-weight: 700;
    box-shadow: 0px 1px 2px 1px rgb(167, 167, 167);
    display: flex;
    align-items: center;
    justify-content: center;
}
.toCheckout:disabled{
    background-color: rgb(70, 41, 28);
    border:1px solid rgb(70, 41, 28);
}
@media(min-width:550px){
    .quantityLow>p,
    .subtotalLow,
    .priceLow{
        display: none;
    }
    .itemContainer{
        flex-direction: row;
        align-items: center;
    }
    .quantityContainer{
        align-items: center;
    }
    .imageTable{
        width: 90px;
        height: 80px;
    }
    .cartEmptyContainer{
        font-size: initial;
    }
    .priceTable,
    .productSubtotal,
    .deleteProduct{
        display: table-cell;
    }
    .tr,
    .trProduct{
        display:table-header-group;
    }
    .productContainer{
        display: none;
    }
    .productsContainerTable{
        font-size: 0.85rem;
        border-collapse: separate;
        border-spacing: 0px 25px;
        text-align: center;
    }
    .buttonsActionsContainer{
        flex-direction: row;
        justify-content: space-between;
    }
    .buttonsActionsContainer>button{
        padding: 8px 15px;
    }
    .buttonsActionsContainer>button:last-child{
        margin:0;
    }
    .totalContainer{
        width: 350px;
    }
    .trOrderTotal>td{
        font-size: 1.2rem;
    }
    .removeProduct,
    .priceLow,
    .subtotalLow{
        display: none;

    }
}
@media(min-width:700px){
    .productsContainerTable{
        font-size: 1rem;
    }
    .tr>th{
        font-size: 1.2rem;
    }
    .totalContainer{
        margin:50px 0px 0px 0px;
        align-self: flex-end;
    }
}
@media(min-width:1200px){
    .productsContainerTable{
        font-size: 1.1rem;
        border-spacing: 0px 30px;
    }
    .tr>th:first-child{
        width: 30%;
    }
}