.filterNoActive{
    width: 0%;
    transition: width 250ms;

}
.filterActive{
    background-color: black;
    width: 100%;
    min-height: 100vh;
    transition: width 250ms;
    position: fixed;
    z-index: 1010;
    left:0px;
    top:0px;
    bottom:0px;
}