.ulContainer{
    display: flex;
    justify-content: space-between;
    width: 250px;
}
.ulContainer>li{
    font-size: 1.2rem;
    color:rgb(214, 107, 19);
}
.actionsContainer{
    display: flex;
}
.cart,
.login{
    display: flex;
    align-items: center;
}
.cart{
    margin-right: 15px;
}
.cart>p,
.login>p{
    color:rgb(24, 27, 36);
    font-size: 1.5rem;
    letter-spacing: 1px;
}
.cartLengthContainer{
    position: relative;
}
.cartLength{
    position: absolute;
    top:-10px;
    right: -10px;
    color:rgb(214, 107, 19);
    border-radius: 50%;
    background-color: black;
    font-size:0.8rem;
    padding: 5px;
    font-weight: 700;
}
@media(max-width:700px){
    .navContainer,
    .actionsContainer{
        display: none;
    }
}