.container{
    display: flex;
    flex-direction: column;
    max-width: 1200px;
}
.firstContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90vh;
    padding:0px 20px;
}
.firstContainerRight{
    display: none;
}
.lowPhoto{
    position: absolute;
    bottom:-4px;
    left:-150px
}
.firstContainerLeft>p{
    letter-spacing: 1px;
    line-height: 25px;
    margin:10px 0px;
    color:rgb(94, 117, 128);
    max-width: 500px;
}
.firstContainerLeft>h1{
    max-width: 300px;
}
.zone{
    color:rgb(214, 107, 19);
}
.shopNow{
    align-self: flex-start;
    padding:10px 20px;
    letter-spacing: 1px;
    background-color:rgb(214, 107, 19);
    border:1px solid rgb(214, 107, 19);
    color:rgb(245, 245, 245);
    border-radius: 5px;
    box-shadow: 0px 1px 2px 1px rgb(167, 167, 167);
}
.thirdContainer{
    padding:50px 20px;
    background-color:#eaded7;
}
.thirdContainer>h2{
    color:#453227;
    max-width: 250px;
}
.thirdContainer>p{
    margin:10px 0px;
}
.thirdContainer>p,
.mission>p,
.vision>p,
.history>p{
    color:#795744;
    font-size: 0.9rem;
    line-height: 20px;
    letter-spacing: 1px;
}
.mission,
.vision,
.history{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:50px 20px;
    margin:10px 0px;
    border-radius: 20px;
    background-color: #c5a491;
}
.mission>h3,
.vision>h3,
.history>h3{
    margin:10px;
    color:#453227;
}

.secondContainer{
    padding:50px 20px;
    display: flex;
    flex-direction: column;
    background-color: rgb(246, 253, 253);
}
.productContainer{
    margin:20px 0px;
}
.secondContainer>h2{
    font-size: 1.8rem;
    text-align: center;
    border-bottom: 2px solid rgb(214, 107, 19);
    margin-bottom: 20px;
}
.productInfo{
    display: flex;
    justify-content: space-between;
    margin-top:10px;
}
.productName,
.productPrice{
    font-size: 0.9rem;
}
.productName{
    color:rgb(49, 64, 65);
}
.productPrice{
    color:rgb(214, 107, 19);
}
.allProducts{
    margin-top: 20px;
    align-self: center;
    padding:10px 20px;
    letter-spacing: 1px;
    background-color:rgb(214, 107, 19);
    border:1px solid rgb(214, 107, 19);
    color:rgb(245, 245, 245);
    border-radius: 5px;
    box-shadow: 0px 1px 2px 1px rgb(167, 167, 167);
}
.image{
    border-radius: 5px;
}

@media(min-width:980px){
    .firstContainer{
        height: 100vh;
    }
    .firstContainerLeft{
        max-width: 400px;
    }
    .firstContainerLeft>p{
        font-size: 1.5rem;
        line-height: 40px;
    }
    .firstContainerLeft>h1{
        font-size: 2.75rem;
    }
    .firstContainerRight{
        display: initial;
        position: relative;
        width: 400px;
        height: 600px;
    }
}