.container{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.firstContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90vh;
    padding:0px 20px;
    max-width: 1200px;
    margin:0 auto;
}
.firstContainerRight{
    display: none;
    animation:firstRight 250ms;
}
.lowPhoto{
    position: absolute;
    bottom:-4px;
    left:-150px
}
.firstContainerLeft{
    animation: firstLeft 250ms;
}
@keyframes firstLeft{
    0%{
        margin-top: 250px;
        opacity: 0;

    }
    100%{
        margin:0;
        opacity: 1;
    }
}
@keyframes firstRight{
    0%{
        margin-top:300px;
        opacity: 0;
    }
    100%{
        margin:0;
        opacity: 1;
    }
}
.firstContainerLeft>p,
.firstContainerLeftAnimation>p{
    letter-spacing: 1px;
    line-height: 25px;
    margin:10px 0px;
    color:rgb(94, 117, 128);
    max-width: 500px;
}
.firstContainerLeft>h1,
.firstContainerLeftAnimation>h1{
    max-width: 300px;
}
.zone{
    color:rgb(214, 107, 19);
}

.thirdContainerAll{
    background-color:#eaded7;
}
.thirdContainer{
    padding:100px 20px;
    margin: 0 auto;
    max-width: 1200px;
}
.thirdContainer>h2{
    color:#453227;
    max-width: 250px;
}
.thirdContainer>p{
    margin:40px 0px;
}
.aboutContainer{
    display: grid;
    gap:20px;
}
.objective{
    transform: rotateY(-90deg);
}
.inViewObjective{
    transform: rotateY(0deg);
    transition: transform 250ms;
}
.inViewObjective:nth-child(2){
    transition-delay: 100ms;
}
.inViewObjective:nth-child(3){
    transition-delay: 300ms
}
.thirdContainer>p,
.objective>p,
.inViewObjective>p{
    color:#795744;
    font-size: 0.9rem;
    line-height: 20px;
    letter-spacing: 1px;
}
.objective,
.inViewObjective{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:50px 20px;
    border-radius: 5px;
    background-color: #c5a491;
}
.objective>h3,
.inViewObjective>h3{
    margin:10px;
    color:#453227;
}
.secondContainerAll{
    background-color: rgb(245, 250, 250);
}
.secondContainer{
    padding:100px 20px;
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin:0 auto;
}

.secondContainer>h2{
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.secondContainer>h2::after{
    content:'';
    border-radius: 5px;
    border:3px solid rgb(214, 107, 19);
    width: 100px
}
.allProducts,
.shopNow{
    align-self: center;
    padding:10px 20px;
    letter-spacing: 1px;
    background-color:rgb(214, 107, 19);
    border:1px solid rgb(214, 107, 19);
    color:rgb(245, 245, 245);
    border-radius: 5px;
    box-shadow: 0px 1px 2px 1px rgb(167, 167, 167);
    transform: scale(1);
    transition: transform 250ms, background-color 250ms, border 250ms;
}
.allProducts{
    margin-top:20px
}

.allProducts:hover,
.allProducts:focus,
.shopNow:hover,
.shopNow:focus{
    transform: scale(1.05);
    background-color: rgb(107, 83, 65);
    border:1px solid rgb(107, 83, 65);
    transition: transform 250ms, background-color 250ms, border 250ms;
}
.image{
    border-radius: 5px;
}
.imagePresentation{
    border-radius: 5px;
}
.design{
    width: 100px;
    height: 300px;
    background-color: rgb(214, 107, 19);
    position: absolute;
    left:-50px;
    bottom:180px;
    border-radius: 5px;
}
@media(min-width:600px){
    .thirdContainer>h2{
        font-size: 2rem;
        max-width: 350px;
    }
    .objective>h3,
    .inViewObjective>h3{
        font-size: 1.5rem;
    }
    .thirdContainer>p,
    .objective>p,
    .inViewObjective>p{
        font-size: .95rem;
        line-height: 30px;
    }
    .aboutContainer{
        grid-template-columns: 1fr 1fr;
    }
}
@media(min-width:700px){
    .secondContainer>h2{
        font-size: 2.5rem;
    }
    .productsContainer{
        margin:50px 0px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap:20px;
    }
}
@media(min-width:980px){
    .firstContainer{
        height: 100vh;
    }
    .firstContainerLeft,
    .firstContainerLeftAnimation{
        max-width: 400px;
    }
    .firstContainerLeft>p,
    .firstContainerLeftAnimation>p{
        font-size: 1.5rem;
        line-height: 40px;
    }
    .firstContainerLeft>h1,
    .firstContainerLeftAnimation>h1{
        font-size: 2.75rem;
    }
    .firstContainerRight{
        display: initial;
        position: relative;
        width: 400px;
        height: 600px;
    }
    .productsContainer{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .aboutContainer{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .objective,
    .inViewObjective{
        z-index: 1001;
    }
    .white{
        width: 100%;
        height: 200px;
        margin-top: -200px;
        background-color: white;
    }
}