.Modal {
    position: absolute;
    top: 50%;
    transform:translateY(-50%);
    left:20px;
    right: 20px;
    background-color: white;
    border-radius: 10px;
    padding:10px 10px 15px 10px; 
}
  .Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.192);
    z-index: 1010;
}

.productAddedContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.productAddedContainer>h4{
    width: 85%;
    color:rgb(62, 218, 62);
}
.productAddedContainer>button{
    font-weight: 500;
    background-color: inherit;
    border:inherit;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
}
.productInfoContainer{
    display: flex;
    align-items: center;
}
.imageContainer{
    position:"relative";
    width: 100px;
    height: 100px;
    margin-right: 20px;
    overflow: hidden;
    border-radius: 10px;
}
.price{
    color:rgb(214, 107, 19);
    margin:3px 0px;
}
.name,
.price,
.colorP{
    font-size: .95rem;
}
.colorContainer{
    display: flex;
}
.color{
    width: 20px;
    height: 20px;
    border-radius: 5px;
    margin-left: 5px;
}

.viewCart{
    margin-top:3px;
    padding:5px 8px;
    letter-spacing: 1px;
    background-color:rgb(214, 107, 19);
    border:1px solid rgb(214, 107, 19);
    color:rgb(245, 245, 245);
    border-radius: 5px;
}

@media(min-width:350px){
    .Modal{
        left: 0;
        right: 0;
        max-width: 350px;
        margin:0 auto;
    }
}