.productsContainer{
    position: relative;
    display: grid;
    max-width: 1200px;
    padding:0px 20px;
    margin: 0 auto;
}

@media(min-width:600px){
    .productsContainer{
        grid-template-columns: 1fr 1fr;
        gap:20px;
    }
}