.noScrollBar{
    max-height: 100vh;
    overflow: hidden;
}
.porductContainerNoGrid{
    display: grid;
    margin-top: 20px;
    gap:20px;
}
.filterContainer{
    margin-top:20px;
    align-self: flex-start;
}
.productContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:0px 10px;
}
.productsAndFilterContainer{
    position: relative;
    width: 100%;
    padding:0px 20px;    
}
.filtersContainerNotActive{
    background-color: white;
    position: fixed;
    z-index: 1010;
    width: 100%;
    left:0;
    top:0;
    height: 100%;
    transform: translateX(-100%);
    opacity: 0;
    transition: transform 250ms,opacity 500ms;

}
.filtersContainerActive{
    background-color: white;
    position: fixed;
    left:0;
    top:0px;
    width: 100%;
    height: 100%;
    z-index: 1010;
    overflow-y: scroll;
    opacity: 1;
    transform:translateX(0);
    transition: transform 250ms;
}
.filtersContainerActive::-webkit-scrollbar{
    display: none;
}

@keyframes openWindow{
    0%{
        margin-left: -500px;
    }
    100%{
        margin:0;
    }
}
.filterDisplayContainer{
    border:1px solid rgb(128, 145, 153);
    margin-bottom: 20px;
    box-shadow: 0 4px 2px -2px gray;
}
.productsFoundContainer{
    display: flex;
    justify-content: space-between;
    padding:15px 20px;
    align-items: center;
    border-bottom:1px solid rgb(128, 145, 153);
}
.allFiltersContainer{
    padding:15px 20px;
    display: flex;
    flex-wrap: wrap;
}
.allFiltersContainer>p{
    color:rgb(203, 203, 216);
}
.displayButton{
    padding:5px 10px;
    letter-spacing: 1px;
    background-color:rgb(214, 107, 19);
    border:1px solid rgb(214, 107, 19);
    color:rgb(245, 245, 245);
    border-radius: 5px;
    box-shadow: 0px 1px 2px 1px rgb(167, 167, 167);
}
.filterDisplay{
    background-color:rgb(105, 65, 32);
    border:1px solid rgb(105, 65, 32);
    color:rgb(245, 245, 245);
    padding:5px 10px;
    margin:5px 5px 5px 0px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.filterDisplay>span{
    margin-left: 10px;
    font-size: 1.2rem;
    color:red;
}
.searchContainer{
    display: flex;
    flex-direction: column;
    padding:0px 20px;
}

.search{
    padding:10px 15px;
    border:1px solid rgb(235, 235, 235);
    background-color: rgb(235, 235, 235);
    border-radius: 5px;
    letter-spacing: 1px;
    outline-color: black;
}
.search::placeholder{
    color:black;
}
.sortByPriceContainer{
    display: flex;
    margin:10px 0px;
    align-items: center;
}
.sortByPriceContainer>p{
    margin-right: 10px;
}
.sortByPriceContainer>select{
    border:none;
    font-size: 1rem;
    outline-color: black;
    cursor: pointer;
}
.categoriesContainer,
.companiesContainer,
.colorsContainer,
.priceContainer{
    padding: 0px 20px;
    margin:20px 0px;
}
.priceContainer{
    padding-bottom: 20px;
}
.categoriesContainer>h4,
.companiesContainer>h4,
.colorsContainer>h4,
.priceContainer>h4{
    margin-bottom: 10px;
}
.categoryLabel,
.companyLabel,
.priceLabel{
    align-self: flex-start;
}
.categoryLabel,
.companyLabel{
    cursor: pointer;
}
.categoryLabel>input,
.companyLabel>input{
    margin-right: 10px;
    margin-top: 5px;
    cursor: pointer;
}
.colorLabel>div{
    margin-right: 5px;
    cursor: pointer;
}
.categoriesContainerSelect,
.companiesContainerSelect{
    display: flex;
    flex-direction: column;
}
.colorsContainerSelect{
    display: flex;
}
.color{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.filterOptions{
    display: flex;
}
.filterOptions>button{
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    align-items: center;
    padding:5px 10px;
    background-color: white;
    border:1px solid black;
    border-radius: 5px;
    justify-content: center;
}
.filter{
    font-weight: 700;
}
.priceLabel{
    display: flex;
    flex-direction: column;
}
.priceLabel>input{
    align-self: flex-start;
    width: 150px;
    cursor: pointer;
}
.productsFound{
    border-bottom: 1px solid rgb(214, 107, 19);
    padding-bottom: 10px;
    font-weight: 500;
}


.noProductsFound{
    grid-column-start: 1;
    grid-column-end: 3;
    margin-top:20px;
    font-weight: 700;
}

@media(min-width:400px){
    .productContainer{
        gap:0px 20px;
    }
}
@media(min-width:700px){
    .noProductsFound{
        margin:0;
    }
    .productsAndFilterContainer{
        width: 77%;
        padding:0;
    }
    .productContainer{
        margin-top: 20px;
        display: grid;
        gap:20px 30px;
        grid-template-columns: 1fr 1fr;
    }
    .filtersContainerActive,
    .filtersContainerNotActive{
        display: initial;
        position: initial;
    }
    .productsFilterContainer{
        display: flex;
        max-width: 1200px;
        justify-content: space-between;
        margin: 50px auto 0px auto;
        padding:0px 20px;
    }
    .filterContainer{
        padding:0;
        margin:0px;
        width: 20%;
    }
    .filterDisplayContainer{
        box-shadow: none;
        border-radius: 5px;
    }
    .productsFoundContainer{
        display: none;
    }
    .filterOptions>button:first-child{
        display: none;
    }
    .searchContainer,
    .companiesContainer,
    .categoriesContainer,
    .colorsContainer,
    .priceContainer{
        padding:0px;
    }
    .searchContainer>input{
        max-width: 200px;
    }
    .filterFromProductsSide{
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid rgb(214, 107, 19);
        padding-bottom: 10px;
    }
    .productsFound{
        order: 1;
        border:none;
        padding: 0;
    }
    .sortByPriceContainer{
        order: 2;
        margin:0;
    }
    .filterOptions>button{
        display: flex;
        padding:5px
    }
}
@media(min-width:900px){
    .productContainer{
        grid-template-columns: 1fr 1fr;
    }
}
@media(min-width:1100px){
    .productContainer,
    .productContainerNoActive{
        grid-template-columns: 1fr 1fr 1fr;
    }
}