.productContainerAnim{
    transform: scale(1);
    opacity: 1;
    transition: transform 200ms linear;
} 
.productContainerAnim:nth-child(even){
    transition-delay: 100ms;
}
.productContainer,
.productContainerAnim{
    margin:20px 0px;
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.productContainer{
    transform: scale(0);
}
.productInfo{
    display: flex;
    justify-content: space-between;
    margin-top:10px;
}
.productName,
.productPrice{
    font-size: 0.70rem;
}
.productName{
    color:rgb(49, 64, 65);
}
.productPrice{
    color:rgb(214, 107, 19);
}
.image{
    border-radius: 5px;
}
@media(min-width:400px){
    .productName,
    .productPrice{
        font-size: 0.9rem;
    }
}
@media(min-width:700px){
    .productContainer{
        opacity: 0;
    }
    .productContainer,
    .productContainerAnim{
        margin:0;
    }
    .productName,
    .productPrice{
        font-size: 1rem;
    }
}
@media(min-width:1000px){
    .productContainerAnim:first-child,
    .productContainerAnim:nth-child(3n+4){
        transition-delay: none;
    }
    .productContainerAnim:nth-child(3n+2){
        transition-delay: 100ms;
    }
    .productContainerAnim:nth-child(3n){
        transition-delay: 200ms;
    }
}